@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  [data-mantine-color-scheme=light] .border-mantine {
    border-color: var(--mantine-color-gray-3);
  }
  [data-mantine-color-scheme=dark] .border-mantine {
    border-color: var(--mantine-color-dark-4);
  }
}
